<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blogappdjangorest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Welcome_screen"></activity>
        <activity android:name=".activities.FirstTimeDetails"></activity>
        <activity android:name=".activities.ChangePassword" />
        <activity android:name=".activities.FollowersNFollowing" />
        <activity android:name=".activities.Blog_view" />
        <activity android:name=".activities.ProfileView" />
        <activity android:name=".activities.EditProfile" />
        <activity
            android:name=".activities.HomeScreen"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".activities.ForgotPasswordRequest" />
        <activity android:name=".activities.SignUpScreen"></activity>
        <activity android:name=".activities.LoginScreen"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>